<div class="route-blog-post-index">

  <Block::Header/>

  {{#if @post}}

    <div class="post">
      <div class="header">
        <div class="title">{{@post.title}}</div>
        <div class="date">{{dt @post.datetime}}</div>
        {{#if @post.notes}}
          <div class="notes">
            {{#each @post.notes as |note|}}
              <div class="note">{{note}}</div>
            {{/each}}
          </div>
        {{/if}}
      </div>
      <Remark class="content" @tree={{@post.tree}}/>
    </div>

    <div class="footer">
      <div class="row">Thanks for reading</div>
      <div class="row">
        Wanna <a href="mailto:ampatspell@gmail.com" target="top">say hi</a>?
      </div>
    </div>

  {{else}}

    <div class="placeholder">Post "{{@slug}}" was not found</div>

  {{/if}}

</div>