<div class="route-projects-index">

  <Block::Header/>

  <Block::Rows @models={{@model.all}} as |project|>
    <a href={{project.website}} target="top">
      <div class="title">{{project.title}}</div>
      {{!-- <div class="pos">#{{project.file.attributes.position}}</div> --}}
      <Block::Remark class="content" @tree={{project.tree}}/>
    </a>
  </Block::Rows>

</div>