<div class={{class "remark-gallery-image" done=this.isDone}} ...attributes {{did-insert this.didInsert}}>
  <div class="content">
    <div class="image" style={{this.style}}/>
    <div class="footer">
      <div class="label">{{@image.label}}</div>
    </div>
  </div>
  <div class="overlay top" {{on 'click' @onBack}} role="button">
    <div class="icon"/>
  </div>
  <div class="overlay left" {{on 'click' @onLeft}} role="button">
    <div class="icon"/>
  </div>
  <div class="overlay right" {{on 'click' @onRight}} role="button">
    <div class="icon"/>
  </div>
</div>
