<div class="route-pages-page-index">

  <Block::Header/>

  {{#if @page}}

    <div class="page">
      {{#if (or @page.title @model.date)}}
        <div class="header">
          {{#if @page.title}}
          <div class="title">{{widow @page.title}}</div>
          {{/if}}
          {{#if @page.date}}
            <div class="date">{{@page.date}}</div>
          {{/if}}
        </div>
      {{/if}}
      <Remark class="content" @tree={{@page.tree}}/>
    </div>

  {{else}}

    <div class="placeholder">Page "{{@slug}}" was not found</div>

  {{/if}}

</div>